In [1]:
# Dependencies
import pandas as pd
import os

In [2]:
# Create DataFrame called student_df

new_full_student_data = os.path.join('../Resources/new_full_student_data.csv')
student_df = pd.read_csv(new_full_student_data)

In [3]:
# 1. Summary Statistics
student_df.describe()

         student_id  reading_score    math_score  school_budget
count  1.951400e+04   17546.000000  18532.000000   19514.000000
mean   6.975630e+07      72.407854     64.628972  893738.174080
std    3.459615e+07      15.206922     15.800076   53975.504589
min    1.000906e+07      10.500000      3.700000  817615.000000
25%    3.962676e+07      62.300000     54.400000  846745.000000
50%    6.972680e+07      73.800000     65.200000  893368.000000
75%    9.949126e+07      84.000000     75.900000  956438.000000
max    1.299997e+08     100.000000    100.000000  991918.000000

In [4]:
# Mean math score
mean_math_score = student_df["math_score"].mean
mean_math_score

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0        88.2
1        73.5
2        70.4
3        80.3
4        27.5
         ...
19509    27.2
19510    80.4
19511    84.1
19512    70.9
19513    42.4
Name: math_score, Length: 19514, dtype: float64>

In [5]:
# Minimum reading score
min_reading_score = student_df["reading_score"].min
min_reading_score

<bound method NDFrame._add_numeric_operations.<locals>.min of 0        59.0
1        94.7
2        89.0
3        69.7
4         NaN
         ...
19509    43.3
19510    52.1
19511    93.9
19512    94.6
19513    82.3
Name: reading_score, Length: 19514, dtype: float64>